<div class="row">
  <div class="col-12">
    <h3>Users</h3>
    <table class="table mt-4">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{ col.label }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td *ngFor="let col of cols">
            {{ user[col.key] }}
          </td>
          <td>
            <!-- <a class="btn btn-info"
              routerLink="/editor/{{ user.id }}">
              <i class="fa fa-pencil"></i>
            </a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
